For loop

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range (10,0,-2):
  print(i)

10
8
6
4
2

In [ ]:
#sum of 1 to 10
sum=0
for i in range (1,11):
  sum=sum+i

print(sum)

55

In [ ]:
#To print single character from string
s= "MAYUR"
for i in s:
  print(i)

M
A
Y
U
R

In [ ]:
s= [12,22,23,27,30]

for i in s:
  print(i)

12
22
23
27
30

WHILE LOOP

In [ ]:
i=1
while i<=10:
  print(i)
  i= i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=10
while i>=1:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
sum=0
i=1
while i<=10:
  sum=sum+i
  i=i+1
print("sum:",sum)

sum: 55

In [ ]:
#To print even numbers from 1 t 100
sum=0
i=1
while i<=100:
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

for loop : is used when range is given

while loop: is used when range is not given

In [ ]:
#reverse the number

no = int(input("Enter the number:"))

rev=0
while no>0:
  rem=no%10
  rev= rev*10+rem
  no=no//10

print("Number is:",rev)

Enter the number:123
Number is: 321

In [ ]:
#count the number of digit
no=int(input("Enter the Number: "))
count=0
while no>0:
  no= no//10
  count=count+1

print("Result:",count)

Enter the Number: 8564610
Result: 7

In [ ]:
#count the number of digit
num= int (input ("Enter the number:"))
count= 0
while num>0:
  rem= num%10
  count+=1
  num = num//10

print("The count of a  number" ,  " is  -> ", count )

Enter the number:125
The count of a  number  is  ->  3

In [ ]:
#Addition of digits from number

sum=0
no=int(input("Enter the number:"))
while no>0:
  rem=no%10
  sum=sum+rem
  no=no//10

print(sum)

Enter the number:1234
10

In [ ]:
#To find factorial of a number

number= int(input("Enter the number:"))
fact=1
while number>0:

  fact= fact*number
  number=number-1

print(fact)

Enter the number:5
120

In [1]:
#Take input and deside grade
per= int(input("Enter Your Parcentage: "))

if per>90 and per<=100:
  print("Grade A")
elif per>80 and per<=90:
  print("Grade B")
elif per>70 and per<=80:
  print("Grade C")
elif per>60 and per<=70:
  print("Grade D")
elif per>50 and per<=60:
  print("Grade E")
elif per>=40 and per<=50:
  print("Grade F")
else:
  print("You are Fail in Exam")

Enter Your Parcentage: 89
Grade B

In [ ]:
#To check Armstrong number

num = int(input("Enter the Number:"))
nsave=num
sum=0

while num>0:
  rem= num%10
  sum= sum+ (rem**3)
  num= num//10

if sum==nsave:
  print("Armstrom Number")
else:
  print("Not an armstrom number")

Enter the Number:153
Armstrom Number

In [ ]:
#to check palidrom sequence

no= int(input("Enter the Number:"))
nsave=no
rev=0

while no>0:
  rem= no%10
  rev= (rev*10) +rem
  no= no//10

if nsave==rev:
  print("Given sequence  is Palidrom")
else:
  print("Given sequence  is not palidrom")

Enter the Number:1234321
Given sequence  is Palidrom

In [ ]:
#check armstrong or not for any digit

sum=0
num = int(input("Enter the Number:"))
nsave=num

while num>0:
  rem= num%10
  sum= sum+(rem**3)
  num= num//10

if nsave==sum:
  print("Armstrom Number")
else:
  print("Not armstrom number")

Enter the Number:153
Armstrom Number

In [ ]:
#Print all armstrongs Number from 1 to 10000 and count it

count = 0
for num in range(1, 1001):
    nsave = num
    sum = 0

    while num > 0:
        rem = num % 10
        sum += rem ** 3
        num = num // 10

    if sum == nsave:
        print(nsave)
        count += 1

print("Count:", count)

1
153
370
371
407
Count: 5