In [ ]:
#1 to 10 tables

for i in range (1,11):
  print(1*i,"\t",2*i,"\t ",3*i,"\t ",4*i,"\t ",5*i,"\t ",6*i," \t",7*i,"\t ",8*i," \t",9*i," \t",10*i)

1 	 2 	  3 	  4 	  5 	  6  	 7 	  8  	 9  	 10
2 	 4 	  6 	  8 	  10 	  12  	 14 	  16  	 18  	 20
3 	 6 	  9 	  12 	  15 	  18  	 21 	  24  	 27  	 30
4 	 8 	  12 	  16 	  20 	  24  	 28 	  32  	 36  	 40
5 	 10 	  15 	  20 	  25 	  30  	 35 	  40  	 45  	 50
6 	 12 	  18 	  24 	  30 	  36  	 42 	  48  	 54  	 60
7 	 14 	  21 	  28 	  35 	  42  	 49 	  56  	 63  	 70
8 	 16 	  24 	  32 	  40 	  48  	 56 	  64  	 72  	 80
9 	 18 	  27 	  36 	  45 	  54  	 63 	  72  	 81  	 90
10 	 20 	  30 	  40 	  50 	  60  	 70 	  80  	 90  	 100

In [ ]:
#Find factorial of any number using for loop

n= int (input("Enter no:"))
fact=1
for i in range(1,n+1):
  fact= fact*i
print("Factorial is:",fact)

Enter no:6
Factorial is: 720

In [ ]:
#Print sum of even an dodd numbers from 1 to 40 and then count
even=0
count1= 0
odd=0
count2=0
for i in range(1,41):

  if i%2==0:
    even=even+i
    count1+=1
  else:
    odd= odd+i
    count2+=1

print(f"Sum of even numbers is: {even} and count is {count1}  and odd is : {odd} and count is {count2}")

Sum of even numbers is: 420 and count is 20  and odd is : 400 and count is 20

In [1]:

user_input=int(input("Enter no:"))
n1=0
n2=1
print(n1)
print(n2)

for i in range(user_input+1):
  sum= n1+n2
  print(sum)
  n1=n2
  n2=sum

Enter no:10
0
1
1
2
3
5
8
13
21
34
55
89
144

In [ ]:

starting= int (input("Enter starting no:"))
ending= int (input("Enter ending no:"))
even=0
odd=1

for i in range (starting,ending+1):
  if i%2==0:
    even=even+i
  else:
    odd=odd*i

print("Result:",even+odd)

Enter starting no:1
Enter ending no:5
Result: 21

In [2]:
#To print sequence
start= int (input("Enter starting no:"))
end= int (input("Enter ending no:"))

for i in range(start,end+1):
  if i%2==1:
     print(i+3,end=' ')
  else :
    print(i-1,end=' ')

Enter starting no:1
Enter ending no:5
4 1 6 3 8

In [3]:
#Addition of two numbers without using "+" operator
n= int(input("Enter the value:"))
x= int(input("Enter the value:"))
sum= 1

for i in range(1,n+1):
  sum=sum+((x**i)//i)

print(sum)

Enter the value:1
Enter the value:9
10

In [ ]:
n= int(input("Enter the value:"))
x= int(input("Enter the value:"))
sum= 1


for i in range(1,n+1):
  fact=1
  n=i
  while n>0:
    fact= fact*n
    n=n-1
  sum=sum+((x**i)//fact)

print(sum)

Enter the value:1
Enter the value:2
3

In [ ]:
#Multiply without * operator
x=int(input("Enter:"))
y=int(input("Enter:"))
sum=0
for i in range(x):
  sum=sum+y

print("Multiplication is :",sum)

Enter:3
Enter:2
Multiplication is : 6

In [ ]:
#Logic for power
x=int(input("Enter:"))
y=int(input("Enter:"))
sum=1
for i in range(x):
  sum=sum*y

print("Multiplication is :",sum)

Enter:3
Enter:2
Multiplication is : 8

In [1]:
#to check peterson number
num = int(input("Enter a number: "))
original_num = num
sum = 0

while num > 0:
    digit = num % 10
    factorial = 1

    for i in range(1, digit + 1):
        factorial *= i

    sum += factorial
    num //= 10


if sum == original_num:
    print(f"{original_num} is a Peterson number.")
else:
    print(f"{original_num} is not a Peterson number.")

Enter a number: 145
145 is a Peterson number.

In [ ]:

for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:


for i in range (1,11):
  if i==3 or i==8:
    continue
    while i<=5:
      n1=i
      print(n1)
      i+=1
    while i<=10:
      n2=i
      print(n2)

print(n1," ",n2)

0   0

In [ ]:
j=10

for i in range(1,6):
  if i==3 :
     j-=1
     continue
  else:
    print(i,"\t",j)
    j-=1

1 	 10
2 	 9
4 	 7
5 	 6

In [ ]:
#print 1 to 15
for i in range (1,16):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
#print 10 to 1
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Sum of first even numbers
n= int (input("Enter no:"))
sum=0

for i in range (1,n+1):
  if i%2==0:
    sum=sum+i
print(sum)

Enter no:5
6

In [ ]:
#print all factorials from 1 to 10

fact=1
for i in range (1,11):
  fact= fact*i
  print(f"Factorial of {i} is {fact}")

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880
Factorial of 10 is 3628800

In [ ]:
#print all sqrt of 1 to 100 numbers
import math

for i in range(1,101):
  print(f"Square root of {i} is {math.sqrt(i)}")

Square root of 1 is 1.0
Square root of 2 is 1.4142135623730951
Square root of 3 is 1.7320508075688772
Square root of 4 is 2.0
Square root of 5 is 2.23606797749979
Square root of 6 is 2.449489742783178
Square root of 7 is 2.6457513110645907
Square root of 8 is 2.8284271247461903
Square root of 9 is 3.0
Square root of 10 is 3.1622776601683795
Square root of 11 is 3.3166247903554
Square root of 12 is 3.4641016151377544
Square root of 13 is 3.605551275463989
Square root of 14 is 3.7416573867739413
Square root of 15 is 3.872983346207417
Square root of 16 is 4.0
Square root of 17 is 4.123105625617661
Square root of 18 is 4.242640687119285
Square root of 19 is 4.358898943540674
Square root of 20 is 4.47213595499958
Square root of 21 is 4.58257569495584
Square root of 22 is 4.69041575982343
Square root of 23 is 4.795831523312719
Square root of 24 is 4.898979485566356
Square root of 25 is 5.0
Square root of 26 is 5.0990195135927845
Square root of 27 is 5.196152422706632
Square root of 28 is 5.291502622129181
Square root of 29 is 5.385164807134504
Square root of 30 is 5.477225575051661
Square root of 31 is 5.5677643628300215
Square root of 32 is 5.656854249492381
Square root of 33 is 5.744562646538029
Square root of 34 is 5.830951894845301
Square root of 35 is 5.916079783099616
Square root of 36 is 6.0
Square root of 37 is 6.082762530298219
Square root of 38 is 6.164414002968976
Square root of 39 is 6.244997998398398
Square root of 40 is 6.324555320336759
Square root of 41 is 6.4031242374328485
Square root of 42 is 6.48074069840786
Square root of 43 is 6.557438524302
Square root of 44 is 6.6332495807108
Square root of 45 is 6.708203932499369
Square root of 46 is 6.782329983125268
Square root of 47 is 6.855654600401044
Square root of 48 is 6.928203230275509
Square root of 49 is 7.0
Square root of 50 is 7.0710678118654755
Square root of 51 is 7.14142842854285
Square root of 52 is 7.211102550927978
Square root of 53 is 7.280109889280518
Square root of 54 is 7.3484692283495345
Square root of 55 is 7.416198487095663
Square root of 56 is 7.483314773547883
Square root of 57 is 7.54983443527075
Square root of 58 is 7.615773105863909
Square root of 59 is 7.681145747868608
Square root of 60 is 7.745966692414834
Square root of 61 is 7.810249675906654
Square root of 62 is 7.874007874011811
Square root of 63 is 7.937253933193772
Square root of 64 is 8.0
Square root of 65 is 8.06225774829855
Square root of 66 is 8.12403840463596
Square root of 67 is 8.18535277187245
Square root of 68 is 8.246211251235321
Square root of 69 is 8.306623862918075
Square root of 70 is 8.366600265340756
Square root of 71 is 8.426149773176359
Square root of 72 is 8.48528137423857
Square root of 73 is 8.54400374531753
Square root of 74 is 8.602325267042627
Square root of 75 is 8.660254037844387
Square root of 76 is 8.717797887081348
Square root of 77 is 8.774964387392123
Square root of 78 is 8.831760866327848
Square root of 79 is 8.888194417315589
Square root of 80 is 8.94427190999916
Square root of 81 is 9.0
Square root of 82 is 9.055385138137417
Square root of 83 is 9.1104335791443
Square root of 84 is 9.16515138991168
Square root of 85 is 9.219544457292887
Square root of 86 is 9.273618495495704
Square root of 87 is 9.327379053088816
Square root of 88 is 9.38083151964686
Square root of 89 is 9.433981132056603
Square root of 90 is 9.486832980505138
Square root of 91 is 9.539392014169456
Square root of 92 is 9.591663046625438
Square root of 93 is 9.643650760992955
Square root of 94 is 9.695359714832659
Square root of 95 is 9.746794344808963
Square root of 96 is 9.797958971132712
Square root of 97 is 9.848857801796104
Square root of 98 is 9.899494936611665
Square root of 99 is 9.9498743710662
Square root of 100 is 10.0

In [ ]:
 #print all 1 to 1000 which are no tdivisible by 2,3,5
 for i in range (1,1001):
  if i%2==0 or i%3==0 or i%5==0:
    continue
  else:
    print(i)

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97
101
103
107
109
113
119
121
127
131
133
137
139
143
149
151
157
161
163
167
169
173
179
181
187
191
193
197
199
203
209
211
217
221
223
227
229
233
239
241
247
251
253
257
259
263
269
271
277
281
283
287
289
293
299
301
307
311
313
317
319
323
329
331
337
341
343
347
349
353
359
361
367
371
373
377
379
383
389
391
397
401
403
407
409
413
419
421
427
431
433
437
439
443
449
451
457
461
463
467
469
473
479
481
487
491
493
497
499
503
509
511
517
521
523
527
529
533
539
541
547
551
553
557
559
563
569
571
577
581
583
587
589
593
599
601
607
611
613
617
619
623
629
631
637
641
643
647
649
653
659
661
667
671
673
677
679
683
689
691
697
701
703
707
709
713
719
721
727
731
733
737
739
743
749
751
757
761
763
767
769
773
779
781
787
791
793
797
799
803
809
811
817
821
823
827
829
833
839
841
847
851
853
857
859
863
869
871
877
881
883
887
889
893
899
901
907
911
913
917
919
923
929
931
937
941
943
947
949
953
959
961
967
971
973
977
979
983
989
991
997

In [6]:
#Calculator

import sys
while True:
  x= int (input ("Enter 1st no:"))
  y= int (input ("Enter 2nd no:"))

  print("1. ADDITION")
  print("2. SUBTRACTION")
  print("3. MULTIPLICATION")
  print("4. DIVISION")
  print("5. EXIT")

  n= input("Enter Your Choice:")

  if n=="1":
     res= x+y
     print("Addition is :",res)
     print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
  elif n=="2":
     res= x-y
     print("Subtraction is :",res)
     print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
  elif n=="3":
     res= x*y
     print("Multiplication is :",res)
     print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
  elif n=="4":
     res= x/y
     print("Division is :",res)
     print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
  elif n=="5":
    #  sys.exit(0)
    print("Thanks for use my aplication!")
    break

Enter 1st no:4
Enter 2nd no:5
1. ADDITION
2. SUBTRACTION
3. MULTIPLICATION
4. DIVISION
5. EXIT
Enter Your Choice:1
Addition is : 9
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Enter 1st no:5
Enter 2nd no:6
1. ADDITION
2. SUBTRACTION
3. MULTIPLICATION
4. DIVISION
5. EXIT
Enter Your Choice:3
Multiplication is : 30
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Enter 1st no:5
Enter 2nd no:64
1. ADDITION
2. SUBTRACTION
3. MULTIPLICATION
4. DIVISION
5. EXIT
Enter Your Choice:5
Thanks for use my aplication!

In [ ]:
 for i in range (1,5):    #<--rows
  for j in range(1,5):    #<--colmn
    print(j,end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
n=1
for i in range (1,5):
  for j in range(1,5):
    print(n,end=" ")
    n+=1
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

A- 65  . a-97  . 0-48

b- 66  . b-98  . 1-49

In [ ]:
n=65
for i in range (1,5):
  for j in range(1,5):
    print(chr(n),end=" \t")
    n=n+1
  print()

A 	B 	C 	D
E 	F 	G 	H
I 	J 	K 	L
M 	N 	O 	P

In [ ]:
for i in range (1,5):
  for j in range(1,i+1):
    print(i,end=" \t")

  print()

1
2 	2
3 	3 	3
4 	4 	4 	4

In [ ]:
for i in range (1,5):
  for j in range(1,i+1):
    print(j,end=" \t")

  print()

1
1 	2
1 	2 	3
1 	2 	3 	4

In [ ]:
for i in range (1,5):
  for j in range(1,i+1):
    print("*",end=" \t")

  print()

*
* 	*
* 	* 	*
* 	* 	* 	*

In [ ]:
for i in range (4,0,-1):
  for j in range(1,i+1):
    print("*",end=" \t")

  print()

* 	* 	* 	*
* 	* 	*
* 	*
*

In [ ]:
for row in range (1,4):
  for col in range (1,4):
    print((row*10)+col,end=' ')
  print()

11 12 13
21 22 23
31 32 33

In [ ]:
for row in range (1,5):
  for col in range (1,5):
    if row%2==1:
      print("1",end=' ')
    else:
      print("0",end = ' ')

  print()

1 1 1 1
0 0 0 0
1 1 1 1
0 0 0 0

In [ ]:
for row in range (1,5):
  for col in range (1,5):
    print(row%2,end= " ")

  print()

1 1 1 1
0 0 0 0
1 1 1 1
0 0 0 0

In [ ]:
for row in range (1,5):
  for col in range (1,5):
    print(col%2,end= " ")

  print()

1 0 1 0
1 0 1 0
1 0 1 0
1 0 1 0

In [ ]:
for row in range (1,5):
  for col in range (1,row):
    print(col%2,end= " ")

  print()

1
1 0
1 0 1

In [ ]:
for row in range (1,5):
  for col in range (1,row+1):
    print(col%2,end= " ")

  print()

1
1 0
1 0 1
1 0 1 0

In [ ]:
for row in range (1,5):
  print(" * "*row)

 *
 *  *
 *  *  *
 *  *  *  *

In [ ]:
for row in range(3,0,-1):
  print(" * "*row)

 *  *  *
 *  *
 *

In [ ]:
for row in range(1,4):
  for col in range(1,4):
    if row==1 or col==1 or row==3 or col==3:
      print("*", end = ' ')
    else:
      print(" ", end= " ")
  print()

* * *
*   *
* * *

In [ ]:
for row in range(1,5):
  for col in range(1,5):
    if row==1 or col==1 or row==4 or col==4 or row==col:
      print("*", end = ' ')
    else:
      print(" ", end= " ")
  print()

* * * *
* *   *
*   * *
* * * *

In [ ]:
for x in range (1,6):
  print(" "*(6-x),"* "*x)

      *
     * *
    * * *
   * * * *
  * * * * *