In [4]:
#To Perform Arithmatic Operations
x = 10
y= 5

add = x+y
mul= x*y
div= x/y
sub= x-y

print("Addition is :",add)
print("Multiplication is ",mul)
print("Division is :",div)
print("Subtraction is :",sub)

Addition is : 15
Multiplication is  50
Division is : 2.0
Subtraction is : 5

In [ ]:
#To check type of data and address
num1 = 20
type(num1)
id(num1)

137240281695056

In [5]:

name = "Ram"
print("Name is :",name,"Address is :",id(name),"Type of Data",type(name))

Name is : Ram Address is : 134608453977968 Type of Data <class 'str'>

In [ ]:
#How to write string
str1= 'Hello'
str2 = "Hello"
str3 = '''Hello'''
str4 = """Hello"""

print(str1)
print(str2)
print(str3)
print(str4)

In [1]:
#Problem statement
print("'Hello' , ", ''' "Dhanraj",  ''',"How are you?")

'Hello' ,   "Dhanraj",   How are you?

In [3]:
#to check type

print(type(10))
print(type(10.0))
print(type(True))
print(type(10+0j))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [2]:
num1 = 10
num2= 20
sum = num1 + num2

print("Addition of ",num1, "and",num2,"is:",sum)

Addition of  10 and 20 is: 30

In [ ]:
#area of circle

radius =int (input("Enter the number:"))
area = 3.14*radius*radius
print("Area of circle is:",area)

Enter the number:2
Area of circle is: 12.56

In [6]:
a= int(input("Enter the First Number:"))
b= int(input("Enter the Second Number: "))
c= int(input("Enter the Third Number:"))

result1= (a-b)*(a+b)
print("Result of the Equation 1 is: ",result1)

result2= (a**2)+(2*a*b)+(b**2)
print("Result of the Equation 2  is: ",result2)

result3= ((a+b)**2)-(2*a*b)
print("Result of the Equation 3  is: ",result3)

result4= (a**2)-(2*a*b)+(b**2)
print("Result of the Equation 4 is: ",result4)

result5= (a**2)+(b**2)+(c**2)+(2*a*b)+(2*b*c)+(2*a*c)
print("Result of the Equation 5 is: ",result5)

result6= (a**2)+(b**2)+(c**2)-(2*a*b)+(2*b*c)-(2*a*c)
print("Result of the Equation 6 is: ",result6)

result7= (a**3)+(3*(a**2)*b)+(3*a*(b**2))+ (b**3)
print("Result of the Equation 7 is: ",result7)

result8= (a**3)-(3*(a**2)*b)+(3*a*(b**2))- (b**3)
print("Result of the Equation 8 is: ",result8)

result9= (a-b)*((a**2)+(a*b)+(b**2))
print("Result of the Equation 9 is: ",result9)

result10= (a+b)*((a**2)-(a*b)+(b**2))
print("Result of the Equation 10 is: ",result10)

result11= (a**4)+(4*(a**3)*b)+(6*(a**2)*(b**2))+(4*a*(b**3))+(b**4)
print("Result of the Equation 11 is: ",result11)

result12= (a**4)-(4*(a**3)*b)+(6*(a**2)*(b**2))-(4*a*(b**3))+(b**4)
print("Result of the Equation 12 is: ",result12)

result13= (a-b)*(a+b)*((a**2)+(b**2))
print("Result of the Equation 13 is: ",result13)

result14= (a-b)*((a**4)+((a**3)*b)+((a**2)*(b**2))+(a*(b**3))+(b**4))
print("Result of the Equation 14 is: ",result14)

Enter the First Number:22
Enter the Second Number: 56
Enter the Third Number:35
Result of the Equation 1 is:  -2652
Result of the Equation 2  is:  6084
Result of the Equation 3  is:  3620
Result of the Equation 4 is:  1156
Result of the Equation 5 is:  12769
Result of the Equation 6 is:  4761
Result of the Equation 7 is:  474552
Result of the Equation 8 is:  -39304
Result of the Equation 9 is:  -164968
Result of the Equation 10 is:  186264
Result of the Equation 11 is:  37015056
Result of the Equation 12 is:  1336336
Result of the Equation 13 is:  -9600240
Result of the Equation 14 is:  -545578144

In [ ]:
#use of "is" and "not" keywords
a= 10
b= 10
print(a is not b)

x= True
y= True
print(x is y)

False
True

In [ ]:
#use of "in" keyword

x= "Hello learning Python is very easy!"

print('H'in x)
print("Python"in x)
print('L' in x)
print('h'in x)

True
True
False
True

In [7]:
#To print area of circle

import math
r= 10
area = math.pi*(r**2)
print(area)

314.1592653589793

In [8]:
#To calculate square root of number without taking input
print(int(math.sqrt(25)))

5

In [9]:
print("Result: ",int(input("Enter First Number "))+ int(input("Enter second Number")))

Enter First Number 2
Enter second Number4
Result:  6

In [10]:
a =int(input("Enter first number:"))

print("Result: ",a+int(input("Enter the Second Number")))

Enter first number:55
Enter the Second Number66
Result:  121

In [11]:
# Use of built-in function: eval
x= eval(input("Enter expression: "))
print(x)

Enter expression: 4/5*9+4
11.2

In [ ]:
a,b,c= 1,55,99
print(a,b,c,sep= ":")

1:55:99

In [ ]:
#To join different print functions

print("hello",end=' ')
print("sir",end= ' ')

hello sir

In [ ]:
a = 10
b= 20
c= 30

print("a value is %i"%a)
print("b value %d is and c value is %d" %(b,c))

a value is 10
b value 20 is and c value is 30

In [ ]:
name= "Tushar"
company= "Nvidia"
salary = 10000

print("Hello {0} your salary is {1} and company {2}".format(name,salary,company))
print("Hello {a} your salary is {b} and company is {c}".format(a=name,b=salary , c=company))

Hello Tushar your salary is 10000 and company Nvidia
Hello Tushar your salary is 10000 and company is Nvidia

In [ ]:
#Find last Digit of number

no= int(input("Enter the Number:"))
res = no%10
print("Last digit is:",res)

Enter the Number:256
Last digit is: 6

In [ ]:
#Add two digit of number

a= int(input("Enter two digit Number:"))
n1= a//10
n2= a%10

print("REsult:",n1+n2)

Enter two digit Number:22
REsult: 4

In [ ]:
#Add 3 digit of number

no = int(input("Enter the Number:"))
n1= no%10
no = no//10
n2 = no%10
no = no//10
n3= no%10

print("Result :",n1+n2+n3)

Enter the Number:123
Result : 6

In [ ]:
#Sum of 5 digit number

no = int(input("Enter the number:"))

n1= no%10
no= no//10
n2= no%10
no= no//10
n3= no%10
no = no//10
n4 = no%10
no = no//10
n5= no%10

print("Result :",n1+n2+n3+n4+n5)

Enter the number:12345
Result : 15

In [ ]:
#Reverse of 5 digit number

no = int(input("Enter the number:"))

n1= no%10
no= no//10
n2= no%10
no= no//10
n3= no%10
no = no//10
n4 = no%10
no = no//10
n5= no%10

rev= (n1*10000)+(n2*1000)+(n3*100)+(n4*10)+(n5*1)
print("Result :",rev)

Enter the number:12356
Result : 65321

In [ ]:
#swapping of two variable using third

a=2
b=5
print("Before swapping a= ",a,"and","b= ",b)

temp=a
a=b
b=temp
print("After swapping a= ",a,"and","b= ",b)

Before swapping a=  2 and b=  5
After swapping a=  5 and b=  2

In [ ]:
#swapping of two variable without using third
a=2
b=3
print("Before swapping a=",a,"and b=",b)

a= a+b
b= a-b
a= a-b
print("After swapping a=",a,"and b=",b)

Before swapping a= 2 and b= 3
After swapping a= 3 and b= 2

In [ ]:
#Addition of first and last digit of 9 digit number

no = int(input("Enter the Number:"))
n1= no%10
n2= no//100000000

print("Result:",n1+n2)

Enter the Number:123456789
Result: 10

In [ ]:
#Accept 5 paper marksand find total marks and percentage

p1= int(input("Enter th emarks of 1 paper: "))
p2= int(input("Enter th emarks of 2 paper: "))
p3= int(input("Enter th emarks of 3 paper: "))
p4= int(input("Enter th emarks of 4 paper: "))
p5= int(input("Enter th emarks of 5 paper: "))

total = p1+p2+p3+p4+p5
parcentage= ((total/5))



print("Total marks Obtained is ",total,"and parcentage is",parcentage)

Enter th emarks of 1 paper: 50
Enter th emarks of 2 paper: 50
Enter th emarks of 3 paper: 98
Enter th emarks of 4 paper: 89
Enter th emarks of 5 paper: 58
Total marks Obtained is  345 and parcentage is 69.0

In [ ]:
#Print Result of Student

p1= int(input("Enter the marks of 1st paper: "))
p2= int(input("Enter the marks of 2nd paper: "))
p3= int(input("Enter the marks of 3rd paper: "))
p4= int(input("Enter the marks of 4th paper: "))
p5= int(input("Enter the marks of 5th paper: "))

total = p1+p2+p3+p4+p5
parcentage= ((total/5))

print("_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ __ _ _ _ _ _ _")
print("           R.C Patel School ")
print("_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _")
print("Subjects \tTotal Marks \t Obtain Marks")
print("_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ ")

print("Math     \t   100", "             ",     p1)
print("Hindi    \t   100", "             ",     p2)
print("Marathi  \t   100", "             ",     p3)
print("AC       \t   100", "             ",     p4)
print("DSP      \t   100", "             ",     p5)
print("_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ ")

print("Total : ",total,"       ","Parcentage :",parcentage)

Enter the marks of 1st paper: 80
Enter the marks of 2nd paper: 88
Enter the marks of 3rd paper: 70
Enter the marks of 4th paper: 92
Enter the marks of 5th paper: 70
_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ __ _ _ _ _ _ _
           R.C Patel School
_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _
Subjects 	Total Marks 	 Obtain Marks
_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _
Math     	   100               80
Hindi    	   100               88
Marathi  	   100               70
AC       	   100               92
DSP      	   100               70
_ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _
Total :  400         Parcentage : 80.0

In [ ]:
#To check maximum number among 5 numbers

n1 = int(input("Enter first number:"))
n2 = int(input("Enter second number:"))
n3 = int(input("Enter third number:"))
n4 = int(input("Enter fourth number:"))
n5 = int(input("Enter fifth number:"))
max= n1

if max<n2:
  max=n2
if max<n3:
  max= n3
if max < n4:
  max= n4
if max < n5:
  max=n5
print("_ _ _ _ _ _ _ _ _ _ _ _ ")
print("Maximun Number is: ",max)

Enter first number:45
Enter second number:98
Enter third number:15
Enter fourth number:1
Enter fifth number:99
_ _ _ _ _ _ _ _ _ _ _ _
Maximun Number is:  99

In [ ]:
#Find the smallest Number among 5 numbers

n1 = int(input("Enter first number:"))
n2 = int(input("Enter second number:"))
n3 = int(input("Enter third number:"))
n4 = int(input("Enter fourth number:"))
n5 = int(input("Enter fifth number:"))
min= n1

if min>n2:
  min=n2
if min>n3:
  min= n3
if min > n4:
  min= n4
if min > n5:
  min=n5
print("_ _ _ _ _ _ _ _ _ _ _ _ ")
print("Maximun Number is: ",min)

Enter first number:4
Enter second number:5
Enter third number:6
Enter fourth number:7
Enter fifth number:8
_ _ _ _ _ _ _ _ _ _ _ _
Maximun Number is:  4

In [ ]:
#To check number is even or Odd

no = int(input("Enter the Number:"))

if no%2 == 0:
  print("Given Number is Even")
else :
  print("Given Number is ODD")

Enter the Number:59
Given Number is ODD

In [ ]:
#To check Voter is eligible for vote or not

age = int(input("Enter your age: "))

if age >= 18:
  print("Eligible for vote")
else:
  print("Not eligible for vote")

Enter your age: 18
Eligible for vote

In [12]:
p1=int(input("Enter marks of paper 1: "))
p2=int(input("Enter marks of paper 2: "))
p3=int(input("Enter marks of paper 3: "))

if p1<45 or p2<45 or p3<45:
  print("Fail")
else:
  print("Pass")

Enter marks of paper 1: 65
Enter marks of paper 2: 65
Enter marks of paper 3: 22
Fail

In [ ]:

p1=int(input("Enter marks: "))
p2=int(input("Enter marks: "))
p3=int(input("Enter marks: "))

total= p1+p2+p3
par= total/3
gender = input("Enter gender (f/m): ")

if par >=62 and gender == "f":
  print("Eligible for taking Addmission")
else :
  print("Not Eligible for taking Addmission")

Enter marks: 52
Enter marks: 60
Enter marks: 62
Enter gender (f/m): f
Not Eligible for taking Addmission

In [ ]:
p1=int(input("Enter marks: "))
p2=int(input("Enter marks: "))
p3=int(input("Enter marks: "))

total= p1+p2+p3
par= total/3
gender = input("Enter gender (f/m): ")

if par >=62 and gender == "m":
  print("Eligible for taking Addmission")
else :
  print("Not Eligible for taking Addmission")

Enter marks: 95
Enter marks: 85
Enter marks: 55
Enter gender (f/m): m
Eligible for taking Addmission

In [ ]:

day = input("Enter day:")

if day == "Saturday" or day == "Sunday":
  print("Weekend day")
else:
  print("Working Day")

Enter day:monday
Working Day